<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ako san restart</title>
    <link rel="stylesheet" href="./style.css">
  </head>

  <body>
    ako san restart~~~~
    <form action="restart" method="GET">
      <button type="submit">restart</button>
    </form>
  </body>
</html>

